body
{
	font-family: "Lato", sans-serif;
}
.sidenav
{
	position: fixed;
	height: 100%;
	width: 20%;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
}


    @media screen and (max-width: 1024px){
        .sidenav{
            position: static !important;
            width: 100vw;
            justify-content:center;
            gap: var(--8x);
        }
        .sidenav{
            gap: var(--15x);
        }
        .sidenav {
            font-size: var(--large);
        }
        .sidenav {
            width: 200px;
            height: 200px;
        }
        
        .sidenav {
            padding: 10px 12px;
        }
        .sidenav {
            margin: 0;
            color: var(--text-primary);
            font-size: var(--large);
        }
        .sidenav {
            display: none;
        }
        .sidenav {
            display: none;
        }
        .sidenav {
            display: block;
            width: 100%;
            justify-content:center;
            height: 100%;
            }
    
        }